<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sylvia Boonabaana Resume</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="resume-container">
        <!-- Header -->
        <header class="resume-header">
            <div class="profile-img">
                <img src="public/img/sylvy1.jpg" alt="" class="profile-pic">
            </div>
            <div class="myname">
                <h1 class="fullname">Sylvia Boonabaana</h1>
                <p class="profession">Software Developer</p>
            </div>
        </header>
        <!-- Contact section -->
        <section class="contacts">
            <hr class="contact-linebreak">
            <div class="contact-container">
                <p class="contact-text">sylviabooan2@gmail.com</p>
                <p class="contact-text">+256789587888</p>
                <p class="contact-text">Uganda</p>
            </div>
            <hr class="contact-linebreak">
        </section>

        <!-- Profile Summary -->
        <section class="profile-summary">
            <div class="row section-container">
                <div class="col-8">
                    <h3 class="profile-summary-title">Summary</h3>
                    <p>Dynamic software developer. Analytical problem solver with a talent for thinking outside the box
                        for
                        creative solutions. A motivational team leader highly effective at streamlining operations. I am
                        looking
                        forward to making a significant contribution to an institution that offers a genuine opportunity
                        for
                </div>
                <div class="col-4">

                    <h4>Other Skills</h4>
                    <ul>
                        <li>Team leadership</li>
                        <li>Analytic Problem Solving</li>
                        <li>Critical Thinking</li>
                        <li>Agile Project Management</li>
                        <li>Community Engagement in problem solvingL</li>
                    </ul>
                </div>
            </div>
        </section>

        <!-- Work Experience -->
        <section class="work-experience">
            <div class="row section-container">
                <div class="col-8">
                    <h3 class="section-title">Work Experience</h3>
                    <div class="section-item">
                        <h6>Refactory Uganda, Software Engineering Intern, January 2021 – July 2021</h6>
                        <ul>
                            <li>Development of a mobile application for financial management using the PERN stack
                            </li>
                            <li>Participated in user research to determine which features to include in, or exclude from
                                the app.
                            </li>
                            <li>Mockup design. This was useful for getting feedback from the client
                                and potential users on the user interface and user process flow.</li>
                            <li>Took on the role of Scrum Master (Project Manager). Made correspondences between the
                                client and the team. Ensured the team had all necessary resources to ensure the project
                                progressed successfully.</li>
                        </ul>
                    </div>
                    <div class="section-item">
                        <h6>Deliverance Church, Administrative Officer,
                            January 2013 – December 2019</h6>
                        <ul>
                            <li>Successfully led a team of 80 people fully utilizing deployment and delegation skills.
                                Streamlined processes to maximize operational efficiency.
                            </li>
                            <li>Assisted management in decision-making procedures by creating monthly. reports to advise
                                on corrective actions, process improvements and strategic operational planning.
                            </li>
                            <li>Oversaw budget, tracked expenses against plans.</li>
                            <li>Established positive working relationships with colleagues, managers and clients through
                                regular communication and effective anticipation of needs.</li>
                        </ul>
                    </div>
                    <div class="section-item">
                        <h6>iLabs@MAK Project, Developer, June 2010 – May 2012</h6>
                        <ul>
                            <li>Development of internet laboratories. These would help every student
                                individually perform a lab experiment instead of the group experiments with limited
                                equipment. This was made possible through performing the experiments simulated on a
                                computer.</li>
                            <li>Developed a project to integrate the National Instruments’ EMONA FOTEx Board interface
                                into the Batched iLabs Client, together with my project partner. A paper was published
                                to this effect, find details <a
                                    href="https://ieeexplore.ieee.org/document/6396456">here</a>
                            </li>
                            <li>Was selected to represent my team at the Massachusetts Institute of Technology annual
                                iLabs Workshop.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-4">
                    <h4>Technical Skills</h4>
                    <ul>
                        <li>HTML/CSS/JavaScript</li>
                        <li>ReactJS</li>
                        <li>Express/Node JS</li>
                        <li>Django</li>
                        <li>MongoDB/PostgreSQL</li>
                        <li>Version Control (Git and GitHub/GitLab)</li>
                    </ul>

                    <h4>Other Skills</h4>
                    <ul>
                        <li>Team leadership</li>
                        <li>Analytic Problem Solving</li>
                        <li>Critical Thinking</li>
                        <li>Agile Project Management</li>
                        <li>Community Engagement in problem solving</li>
                    </ul>
                </div>
        </section>
        <!-- Education -->
        <section class="education">
            <div class="row section-container">
                <div class="col-8">
                    <h3 class="section-title">Education</h3>
                    <div class="section-item">
                        <h6>Refactory Uganda, Clarke International University, September – December 2020
                        </h6>
                        <p>Catalyst Course in Software Development and Project Management
                        </p>
                    </div>
                    <div class="section-item">
                        <h6>Makerere University, 2008 – 2012</h6>
                        <p>BSc. Telecommunications Engineering</p>
                    </div>
                </div>
                <div class="col-4 hello">
                    <h4>Languages</h4>
                    <ul>
                        <li>English</li>
                        <li>Kiswahili</li>
                    </ul>
                </div>
        </section>

        <!-- Contact Form -->
        <hr>
        <section class="contact-form">
            <div class="row section-container">
                <h5>Contact Me Here</h5>
                <div class="col-6">
                    <form action="/contactMe" method="POST">
                        <input type="text" class="form-control" placeholder="Email">
                        <input type="text" class="form-control" placeholder="Question">
                        <input type="button" class="form-control btn-secondary" value="Submit">
                    </form>
                </div>
            </div>
        </section>
    </div>
</body>

</html>