body{
    background-color: rgb(240, 235, 235);
    margin: 0;
}

h4,
h3{
    color: rgb(90, 90, 201);
}
p,
li{
    color: rgb(107, 106, 106);
}

.resume-container{
    margin-left: 15rem;
    margin-right: 15rem;
    background-color: rgb(255, 253, 253);
}

.resume-header{
    background-color: white;
    width: 100%;
    margin-top: 1rem;
    display: flex;
}

.profile-pic{
    padding: 1em 1em;
    border-radius: 20rem;
    /* display: block;  */
    width: 20%;
}

.myname{
    padding-left: 1em;
}
.contact-linebreak{
    background-color: rgb(146, 146, 223);
    width: 100%;
}
.contact-container{
    background-color: rgb(146, 146, 223);
    width: 100%;
    display: flex;
    font-weight: bold;
    text-align: center;
}

.contact-text{
    padding-left: 8em;
    padding-top: 1em;
    color: rgb(243, 235, 235);
}

.section-container{
    margin-left: 2em;
    
}

.col-8{
    border-right: .1em solid rgb(112, 112, 243);
}

.form-control{
    margin-bottom: 1em;
}

.zurilogo{
    padding-left: 5em;
    display: block;
    width: 40%;
}

.contact-form{
    padding-left: 6em;
}